In [1]:
s = " this is the first python programing class and i am learning python string and its function "

In [2]:
s

' this is the first python programing class and i am learning python string and its function '

In [3]:
s[1:300:3]

'tsshfsph oancsa alrnph rgni ni '

In [7]:
s1 = "we are learning problem solving using computation"

In [8]:
# Extract data from 1 to 10 with jump of 2
s1[1:11:4]

'eea'

2.Try to revers a string  without using revers function

In [9]:
s[::-1]

' noitcnuf sti dna gnirts nohtyp gninrael ma i dna ssalc gnimargorp nohtyp tsrif eht si siht '

3. Try to split the string after the conversion of entire string in uppercase

In [10]:
s1 = s.upper()
s1.split()

['THIS',
 'IS',
 'THE',
 'FIRST',
 'PYTHON',
 'PROGRAMING',
 'CLASS',
 'AND',
 'I',
 'AM',
 'LEARNING',
 'PYTHON',
 'STRING',
 'AND',
 'ITS',
 'FUNCTION']

In [11]:
# Method 2
s.upper().split()

['THIS',
 'IS',
 'THE',
 'FIRST',
 'PYTHON',
 'PROGRAMING',
 'CLASS',
 'AND',
 'I',
 'AM',
 'LEARNING',
 'PYTHON',
 'STRING',
 'AND',
 'ITS',
 'FUNCTION']

In [12]:
s.lower()

' this is the first python programing class and i am learning python string and its function '

Try to capitalize the whole string

In [13]:
s.capitalize()

' this is the first python programing class and i am learning python string and its function '

write a difference between isalnum()andisalpha()

In [14]:
# isalpha give the value as True is all character is the string are alphbets and isalnum gives all the string character are either alphabets and number

In [18]:
# for example

In [19]:
test="acde"
test1=" ab24c5"

In [20]:
test. isalpha()

True

In [22]:
test1. isalnum()

False

Try to give an example of an expand tab

In [24]:
exp="This\thi\ta\texample"